!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Lesbleus"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"


  %body
    .navbar.navbar-default.navbar-static-top.navbar-inverse{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Bleus', root_path, :class => "navbar-brand"
    
        
        .collapse.navbar-collapse
          -if user_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li.navbarb-margin-top
                %a.dropdown-toggle(data-toggle="dropdown" href="#")
                  = current_user.first_name
                %ul.dropdown-menu
                  %li
                    = link_to edit_user_registration_path do
                      = t('devise.sessions.your_account',default:'Your Account')
                  %li
                    = link_to '#' do
                      = t('views.actions.history',default:'History')
                  %li.divider
                  %li
                    = link_to destroy_user_session_path, data: { method: :delete } do
                      = t('devise.sessions.sign_out',default: 'Sign out')
          
          
          -else
            %ul.nav.navbar-nav.navbar-right
              %li.navbarb-margin-top
                = link_to new_user_session_path do
                  = t('devise.sessions.sign_in',default:'Sign in')
                
    .container
      .row
        .col-lg-12
          = bootstrap_flash
          = yield
        / .col-lg-3
        /  .well.sidebar-nav
        /    %h3 Sidebar
        /    %ul.nav.nav-list
        /      %li.nav-header Sidebar
        /      %li= link_to "Link 1", "/path1"
        /      %li= link_to "Link 2", "/path2"
        /      %li= link_to "Link 3", "/path3"
      %footer
        %p &copy; Company 2014
